<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111915024 Ayush Maurya</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- jquerry files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

<style>

</style>

<body style="bg-color:grey">


    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">111915024 Ayush Maurya</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Auth <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>

    <!-- navbar ends -->

    <br><br><br>
    <br><br><br>


    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <h4>Log In</h4>
                <div class="input-group mb-3">

                    <input class="form-control" type="text" placeholder="Employee_ID_Number" id="emailLogIn"
                        name="emailLogIn" required aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>

                <div class="input-group mb-3">

                    <input type="password" placeholder="password" id="passwordLogIn" name="passwordLogIn" required
                        class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>


                <button onclick="login()" class="form-button">Log In</button>

            </div>
            <!-- <div class="col-sm-6">
                <h4>Sign Up</h4>

                <div class="input-group mb-3">
                    <input type="text" placeholder="Employee_ID_Number" id="emailSignUp" name="emailSignUp" required
                        class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" placeholder="First Nmae" id="fname" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" placeholder="Last Name" id="lname" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="date" placeholder="DOB" id="dob" name="emailSignUp" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>


                <div class="input-group mb-3">
                    <input type="text" placeholder="Contact Number" id="cnumber" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>


                <div class="input-group mb-3">
                    <input type="text" placeholder="Job Role" id="jr" required class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>


                <div class="input-group mb-3">
                    <input type="text" placeholder="Monthly Salary" id="ms" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>


                <div class="input-group mb-3">
                    <input type="text" placeholder="Yearly Bonus" id="yb" required class="form-control"
                        aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>





                <div class="input-group mb-3">

                    <input type="password" placeholder="Password" id="passwordSignUp1" name="passwordSignUp1" required
                        class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">

                    </div>
                </div>

                <button onclick="signup()" class="form-button">Sign Up</button>
            </div> -->
        </div>

    </div>

    <script>
        function signup() {
            var eid = document.getElementById("emailSignUp").value;
            var fname = document.getElementById("fname").value;
            var lname = document.getElementById("lname").value;
            var dob = document.getElementById("dob").value;
            var cn = document.getElementById("cnumber").value;
            var jr = document.getElementById("jr").value;
            var ms = document.getElementById("ms").value;
            var yb = document.getElementById("yb").value;
            var password = document.getElementById("passwordSignUp1").value;
            $.post({
                url: '/signup',
                data: {
                    "eid": eid,
                    "firstName": fname,
                    "lastName": lname,
                    "dob": dob,
                    "contactNumber": cn,
                    "password": password,
                    'jr': jr,
                    'ms': ms,
                    'yb': yb
                },
                success: function (res) {
                    var status = res['status'];
                    window.alert(status);

                }
            })
        }

        function login() {
            var email = document.getElementById("emailLogIn").value
            var password = document.getElementById("passwordLogIn").value
            $.post({
                url: '/login',
                data: {
                    "eid": email,
                    "password": password
                },
                success: function (res) {
                    var status = res['status'];
                    //window.alert(status);
                    if (res['code'] == 200) {
                        //load home page
                        window.alert("Welcome, Log in successfull");
                        window.location.href = "/home";

                    } else {
                        window.alert(status);
                    }
                }
            })
        }
    </script>
</body>

</html>