<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanmay Modi CC practical</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- jquerry files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

<body>
    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <button class="btn btn-outline-success my-2 my-sm-0 m-3" onclick="logout()">Log
                Out</button>


        </div>
    </nav>

    <!-- navbar ends -->

    <div class="container">
        <h2>Hello, <strong>Tanmay Modi</strong> </h2>
        <p>Following are the details of the users:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Emp ID</th>
                    <th>FName</th>
                    <th>LName</th>
                    <th>Dob</th>
                    <th>Contact</th>
                    <th>Job Role</th>
                    <th>Monthly Salary</th>
                    <th>Yearly Bonus</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>

                <div id="nnn">
                    <tr>
                        <td>111915132</td>
                        <td>Tanmay</td>
                        <td>Modi</td>
                        <td>24-10-1999</td>
                        <td>7089436882</td>
                        <td>HR</td>
                        <td>120000</td>
                        <td>200000</td>
                        <td>1640000</td>
                    </tr>
                    <tr>
                        <td>111915113</td>
                        <td>Sarthak</td>
                        <td>Gupta</td>
                        <td>17-06-2002</td>
                        <td>7589456854</td>
                        <td>Project Manger</td>
                        <td>75000</td>
                        <td>125000</td>
                        <td>1250000</td>
                    </tr>
                    <tr>
                        <td>111915092</td>
                        <td>Piyush</td>
                        <td>Gupta </td>
                        <td>17-03-2001</td>
                        <td>752563415</td>
                        <td>Senior SDE</td>
                        <td>50000</td>
                        <td>100000</td>
                        <td>700000</td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>



    <script>
        $(document).ready(() => {
            $.post({
                url: '/fetch',
                success: function (res) {
                    console.log("result is:");
                    // unmute ni kr sakta abi
                    console.log(res);
                    var ee = res['ee'];
                    var dd = res['dd'];


                    console.log(ee);
                    var nnn = "";
                    var sal = ee['monthlySalary'];
                    sal = sal * 12 + ee[yearlyBonus];
                    $('्रnnn').html(nnn);

                }
            });
        });
    </script>


</body>

</html>